<section>
  <h1>Contact</h1>
    <h2>find us here</h2>

  <div class="map">
    <iframe width="100%" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=berlin%20berghain&key=AIzaSyDfOE7ebRUjNiH_NES-wQe-QrclMArnucg" allowfullscreen></iframe>
    <h2>write to us here <a href="mailto:juanbikes@gmail.com">juanbikes@gmail.com</a></h2>
</section>