<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>email template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Forum|Nunito:700" rel="stylesheet">
    <style>
     /* Email styles need to be inline */
     body {
      margin: 0; padding: 0;
     }

   </style>

  </head>


<table align="center" border="1" cellpadding="0" cellspacing="0" width="650"
    style="border-collapse: collapse;">
  <tbody>
    <tr>
      <td align="center" bgcolor="#008dba" style="padding: 40px 0 30px 0;">
        <h1 style="font-family: 'Verdana';"">Welcome!</h1>
        </td>
    </tr>
    <tr>
      <td bgcolor="#c0eeff" style="padding: 40px 10px 30px 10px;"><h2 style="font-family: 'Arial'; font-size: 1.3em;">Thank you for signing up with <%= @appname %>!</h2></td>
    </tr>
    <tr>
      <td bgcolor="#5fb175"><p><strong>Your <%= @appname %> Team!</strong></p></td>
    </tr>
  </tbody>
</table>