<h1>New User</h1>

<%= render 'form', user: @user %> <!-- user: @user tells the rails form helper (render 'form') that you want to create a form for the product model, and store the user input inside the @product variable, that is accesible from the controller. -->

<%= link_to 'Back', users_path %>
