// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
  font-family: 'Forum', cursive;
  font-weight: 700;
  font-size: 2em;
  color: #333;
}

.newproduct_link {
  font-family: 'Railway', sans-serif;
  font-size: 2em;
  color: #95283D;
  background-color: #DF6A81;
  border: none;
}

.newproduct_link:hover {
  background-color: #450310;
  color: #DF6A81;
}

.products p {
  margin: 10px 2px;
}

.product-title {
  height: 66px;
}

.description {
  height: 36px;
}
