// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
  font-family: 'Forum', cursive;
  font-weight: 700;
  font-size: 2em;
  color: #333;
}

// button

.newproduct-btn {
  font-family: 'Railway', sans-serif;
  font-size: 2em;
  color: #f9d9df;
  background-color: #DF6A81;
  border: none;
}

.newproduct-btn:hover {
  background-color: #450310;
  color: #DF6A81;
}

.products p {
  margin: 10px 2px;
}

.product-title {
  height: 66px;
}

.description {
  height: 36px;
}

// product form

.edit_product {
  margin: 40px 40px 30px 50px;
}

.actions {
  margin-top: 15px;
}

.update-btn {
  font-family: 'Railway', sans-serif;
  font-size: 1.5em;
  color: #95283D;
  background-color: #F297A9;
  border: none;
}

.update-btn:hover {
  background-color: #F8C2CD;
  color: #DF6A81;
}

.show-back {
  margin-left: 60px;
  font-size: 1.5em;
}

.field {
  color: #bd1e4b;
}

.field input, textarea {
  color: blue;
}

.form-label {
  color: #396f81;
}