// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
  font-family: 'Forum', cursive;
  font-weight: 700;
  font-size: 2em;
  color: #333;
}

// button

.newproduct-btn {
  font-family: 'Railway', sans-serif;
  font-size: 2em;
  color: #f9d9df;
  background-color: #DF6A81;
  border: none;
}

.newproduct-btn:hover {
  background-color: #450310;
  color: #DF6A81;
}

.products p {
  margin: 10px 2px;
}

.product-title {
  height: 66px;
}

.description {
  height: 36px;
}

// product form

.edit_product, .new_product {
  max-width: 330px;
  margin: 5% auto;
}

.actions {
  margin-top: 15px;
}

.submit-btn {
  width: 100%;
  background-color: #F297A9;
  font-family: 'Railway', sans-serif;
  font-size: 1.5em;
  color: #95283D;
  border: none;
}

.submit-btn:hover {
  background-color: #F8C2CD;
  color: #DF6A81;
}

.show-back {
  margin-left: 60px;
  margin-bottom: 40px;
  font-size: 1.5em;
}

.field, label {
  font-family: 'Railway', sans-serif;
  font-size: 1.1em;
  color: #bd1e4b;
  letter-spacing: 3px;
}

.field input, textarea {
  font-family: 'Forum', cursive;
  font-size: 1.2em;
  color: #396f81;
}


//show product

h4 {
  color: #ebfdff;
}

h4 > .rated {
  margin-top: 10px;
}

.buyer-comment {
  font-size: 2em;
  font-style: italic;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.thumbnail {
  max-width: 60%;
}

.productshow {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .col-sm-6 {
    text-align: justify;
  }
}

@media (max-width: 768px) {
  .col-xs-12 {
    text-align: center;
    float: none;
  }
}