// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* { box-sizing: border-box; }

body {
  background: #719BA9;
  background: -webkit-linear-gradient(#719BA9, #82C594); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#719BA9, #82C594); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#719BA9, #82C594); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#719BA9, #82C594); /* Standard syntax (must be last) */
}

// nav bar
.navbar-inverse {
  background-color: #5FB175;
  border: none;
}

.navbar-inverse .navbar-nav>li>a {
  color: #396F81;
  font-size: 2em;
}


//end nav bar

h1 {
  font-family: 'Raleway', sans-serif;
  color: #396F81;
  text-align: center;
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 50px;

}

h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #00741F;
}

p {
  font-family: 'Forum', cursive;
  font-weight: 700;
  font-size: 1.2em;
  color: #034A61;
}

section {
  margin: 10px 20px;
}

// images

.mainimg {
  margin-left: auto;
  margin-right: auto;
}

// carousel

.carousel-caption {
  color: #719BA9;
  text-shadow: none;
  font-size: 1.5em;
}

.carousel-indicators {
  margin-bottom: 4px;
}

.carousel-indicators li {
  background-color: blue;
}

.carousel-indicators .active {
  background-color: red;
}