<h1>Editing Product</h1>

<%= render 'form', product: @product %> <!-- product: @product tells the rails form helper (render 'form') that you want to create a form for the product model, and store the user input inside the @product variable, that is accesible from the controller. -->

<div class="show-back">
  <%= link_to 'Show', @product %> |
  <%= link_to 'Back', products_path %>
</div>