<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container">
  <div class="row products">
    <!-- @products represents array of all products in database-->
    <!-- Each product is an object with the properties name, description, image_url, color-->
    <!--The loop @products.each do |product| iterates over that array.-->
    <!-- During each iteration, the current element of the array (aka each product object in the table) is represented by the variable product. -->
    <!-- That's why you can access each object's properties with product.name or product.description and so on-->

    <% @products.each do |product| %>
      <!--%= render partial: "product", locals: {product: product} %--><!-- a partial is referenced, "product", from _product.html.erb -->
      <%= render product %>
      <!--%= render partial: "product", collection: @products %> -->
      <!--%= render @products %>-->
    <% end %>
  </div> <!-- end row -->

  <div class="row">
    <%= will_paginate @products %>
  </div>
  <div class="row">
    <%= link_to 'New Product', new_product_path, class:"newproduct-btn btn" %>
  </div>
</div> <!-- end container -->







